# Laboratorio #3 (Bag of words)
### Marvin Diaz
### CArnet 9516008

In [145]:
import numpy as np
import pandas as pd
import re

## 1.Dataset

In [146]:
tweets = pd.read_csv("c:/training.1600000.processed.noemoticon.csv",header=None,encoding='latin-1')
tweets.columns=["No","ID","Date","REF","User","Tweet"]

In [147]:
print(tweets.shape)
tweets.head()

(1600000, 6)

,No,ID,Date,REF,User,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

## 2.Determinando usuarios m√°s populares

In [148]:
tweets["Tags"] = tweets["Tweet"].str.extract(pat = '(@[a-zA-Z0-9-_]+)')
tweets.head(15)

,No,ID,Date,REF,User,Tweet,Tags
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",@switchfoot
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,NaN
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,@Kenichan
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,NaN
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",@nationwideclass
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,@Kwesidei
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug,NaN
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...,@LOLTrish
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it,@Tatiana_K
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?,@twittera
10,0,1467812416,Mon Apr 06 22:20:16 PDT 2009,NO_QUERY,erinx3leannexo,spring break in plain city... it's snowing,NaN
11,0,1467812579,Mon Apr 06 22:20:17 PDT 2009,NO_QUERY,pardonlauren,I just re-pierced my ears,NaN
12,0,1467812723,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,TLeC,@caregiving I couldn't bear to watch it. And ...,@caregiving
13,0,1467812771,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,robrobbierobert,"@octolinz16 It it counts, idk why I did either...",@octolinz16
14,0,1467812784,Mon Apr 06 22:20:20 PDT 2009,NO_QUERY,bayofwolves,"@smarrison i would've been the first, but i di...",@smarrison

In [149]:
#Removiendo NAs de Tags
tweets.dropna()

,No,ID,Date,REF,User,Tweet,Tags
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",@switchfoot
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,@Kenichan
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",@nationwideclass
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,@Kwesidei
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...,@LOLTrish
...,...,...,...,...,...,...,...
1599989,4,2193579211,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,jazzstixx,@Ms_Hip_Hop im glad ur doing well,@Ms_Hip_Hop
1599991,4,2193579284,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,AgustinaP,@rmedina @LaTati Mmmm That sounds absolutely ...,@rmedina
1599993,4,2193579477,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,ChloeAmisha,@SCOOBY_GRITBOYS,@SCOOBY_GRITBOYS
1599994,4,2193579489,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,EvolveTom,"@Cliff_Forster Yeah, that does work better tha...",@Cliff_Forster
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,@theNSPCC

In [127]:
Populares = tweets["Tags"].value_counts()[0:3].keys().tolist()
Populares

['@mileycyrus', '@tommcfly', '@ddlovato']

In [150]:
del tweets["User"]
del tweets["No"]
tweets["Length"] = tweets["Tweet"].str.len()

In [151]:
#Corpus para los tres usuarios principales
def ArmarCorpus(Dataset, Keys):
    corpus = []
    for i in Keys:
        corpus.append(Dataset[Dataset["Tags"] == i])
    return corpus

In [152]:
ConCorpus = ArmarCorpus(tweets, Populares)

In [153]:
#Mostramos los 3 corpus
Miley_Corps = ConCorpus[0]
Miley_Corps.head()

,ID,Date,REF,Tweet,Tags,Length
1021,1468063101,Mon Apr 06 23:30:57 PDT 2009,NO_QUERY,@mileycyrus hahaha dont be like that one time ...,@mileycyrus,107
2014,1468286517,Tue Apr 07 00:45:20 PDT 2009,NO_QUERY,"@mileycyrus i have the same problem, but it's ...",@mileycyrus,137
2073,1468297110,Tue Apr 07 00:49:07 PDT 2009,NO_QUERY,@mileycyrus I guess counting sheep didn't work...,@mileycyrus,72
2080,1468298918,Tue Apr 07 00:49:44 PDT 2009,NO_QUERY,@mileycyrus I would too if it meant spending a...,@mileycyrus,100
2156,1468318249,Tue Apr 07 00:56:41 PDT 2009,NO_QUERY,@mileycyrus AWWW u seriously have the cutest d...,@mileycyrus,112

In [154]:
#Mostramos los 3 corpus
Tommy_Corps = ConCorpus[1]
Tommy_Corps.head()

,ID,Date,REF,Tweet,Tags,Length
1690,1468210813,Tue Apr 07 00:19:09 PDT 2009,NO_QUERY,@tommcfly hey saw u guys play @ pushover..didn...,@tommcfly,138
1789,1468233211,Tue Apr 07 00:26:52 PDT 2009,NO_QUERY,@tommcfly Good morning Tom! Why can't I send y...,@tommcfly,131
2514,1468391638,Tue Apr 07 01:23:07 PDT 2009,NO_QUERY,@tommcfly did you know that johnsons baby use ...,@tommcfly,96
3524,1468618787,Tue Apr 07 02:46:02 PDT 2009,NO_QUERY,"@tommcfly hey, no chance of adding brighton or...",@tommcfly,131
3783,1468674970,Tue Apr 07 03:05:49 PDT 2009,NO_QUERY,"@tommcfly have fun tom, i need to buy eclipse ...",@tommcfly,82

In [155]:
#Mostramos los 3 corpus
DLovato_Corps = ConCorpus[2]
DLovato_Corps.head()

,ID,Date,REF,Tweet,Tags,Length
460,1467929230,Mon Apr 06 22:51:34 PDT 2009,NO_QUERY,@ddlovato @David_Henrie ummmmm i cant find it.,@ddlovato,47
573,1467953367,Mon Apr 06 22:58:30 PDT 2009,NO_QUERY,@ddlovato Do you hate us?? Please don't,@ddlovato,40
7032,1469661950,Tue Apr 07 07:02:58 PDT 2009,NO_QUERY,@ddlovato Wish that i could see it.. Thats th...,@ddlovato,96
7089,1469674492,Tue Apr 07 07:05:11 PDT 2009,NO_QUERY,"@ddlovato hey demi, wen are you and selena gon...",@ddlovato,79
8611,1548280868,Fri Apr 17 20:31:31 PDT 2009,NO_QUERY,@ddlovato ahhhh i wish i could go to the dalla...,@ddlovato,85

## 3. Raz√≥n porque citan al usuario

In [135]:
import sys
!{sys.executable} -m pip install spacy
!{sys.executable} -m spacy download en

Requirement already satisfied: spacy in c:\users\marvin\anaconda3\lib\site-packages (3.4.1)
Requirement already satisfied: jinja2 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (2.11.3)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (1.0.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (3.0.10)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (4.62.3)
Requirement already satisfied: numpy>=1.15.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (1.20.3)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (0.4.2)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (8.1.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (2.26.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (2.0.8)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (3.3.0)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (2.4.4)
Requirement already satisfied: setuptools in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (58.0.4)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (0.10.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (2.0.6)
Requirement already satisfied: packaging>=20.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (21.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (1.9.2)
Requirement already satisfied: pathy>=0.3.5 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (0.6.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (1.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\marvin\anaconda3\lib\site-packages (from spacy) (3.0.7)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\marvin\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in c:\users\marvin\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\marvin\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4->spacy) (3.10.0.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\marvin\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\marvin\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\marvin\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\marvin\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.6.15)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\users\marvin\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.8)
Requirement already satisfied: colorama in c:\users\marvin\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\marvin\anaconda3\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy) (8.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\marvin\anaconda3\lib\site-packages (from jinja2->spacy) (1.1.1)
‚ö† As of spaCy v3.0, shortcuts like 'en' are deprecated. Please use the full
pipeline package name 'en_core_web_sm' instead.
Collecting en-core-web-sm==3.4.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl (12.8 MB)
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in c:\users\marvin\anaconda3\lib\site-packages (from en-core-web-sm==3.4.0) (3.4.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (8.1.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.0.8)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.3.0)
Requirement already satisfied: setuptools in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (58.0.4)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (4.62.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.26.0)
Requirement already satisfied: packaging>=20.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (21.0)

2022-09-04 22:26:11.021516: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-09-04 22:26:11.022383: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-09-04 22:26:17.226059: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'nvcuda.dll'; dlerror: nvcuda.dll not found
2022-09-04 22:26:17.226847: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-09-04 22:26:17.236360: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:169] retrieving CUDA diagnostic information for host: DESKTOP-RAS8PDK
2022-09-04 22:26:17.236876: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:176] hostname: DESKTOP-RAS8PDK

Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.0.10)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.10.1)
Requirement already satisfied: pathy>=0.3.5 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.6.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.0.3)
Requirement already satisfied: jinja2 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.11.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.9.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.4.4)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.0.8)
Requirement already satisfied: numpy>=1.15.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.20.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.0.7)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.0.6)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\users\marvin\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.4.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\marvin\anaconda3\lib\site-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in c:\users\marvin\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\marvin\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.10.0.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\marvin\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\marvin\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\marvin\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\marvin\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.26.7)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\users\marvin\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.7.8)
Requirement already satisfied: colorama in c:\users\marvin\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\marvin\anaconda3\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (8.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\marvin\anaconda3\lib\site-packages (from jinja2->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.1.1)
‚úî Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [136]:
import spacy 
import spacy.cli 

#Descargamos el Modelo de Spacy en Ingles
spacy.cli.download('en_core_web_sm')
nlp= spacy.load('en_core_web_sm')

‚úî Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [137]:
import sys
!{sys.executable} -m pip install wordcloud
!{sys.executable} -m wordcloud download

Requirement already satisfied: wordcloud in c:\users\marvin\anaconda3\lib\site-packages (1.8.2.2)
Requirement already satisfied: numpy>=1.6.1 in c:\users\marvin\anaconda3\lib\site-packages (from wordcloud) (1.20.3)
Requirement already satisfied: pillow in c:\users\marvin\anaconda3\lib\site-packages (from wordcloud) (8.4.0)
Requirement already satisfied: matplotlib in c:\users\marvin\anaconda3\lib\site-packages (from wordcloud) (3.4.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\marvin\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\marvin\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\marvin\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\marvin\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: six in c:\users\marvin\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.16.0)

usage: __main__.py [-h] [--text file] [--regexp regexp] [--stopwords file]
                   [--imagefile file] [--fontfile path] [--mask file]
                   [--colormask file] [--contour_width width]
                   [--contour_color color] [--relative_scaling rs]
                   [--margin width] [--width width] [--height height]
                   [--color color] [--background color] [--no_collocations]
                   [--include_numbers] [--min_word_length min_word_length]
                   [--prefer_horizontal ratio] [--scale scale]
                   [--colormap map] [--mode mode] [--max_words N]
                   [--min_font_size size] [--max_font_size size]
                   [--font_step step] [--random_state seed]
                   [--no_normalize_plurals] [--repeat] [--version]
__main__.py: error: unrecognized arguments: download

In [139]:
from wordcloud import WordCloud, STOPWORDS 
import matplotlib.pyplot as plt

#### Remover stopwords
#### Tokenizacion
#### Normalizacion de texto
#### Stemming y Lemmatization

In [156]:
#Creamos Funci√≥n Generica para Normalizar el Texto y Mostrar el WordCloud
def wordCloudUser(ConCorpus, max_words=10):
    corpusUser = ConCorpus.Content

    corpusUser=corpusUser.str.replace('[^a-zA-Z0-9\s{1}]','')
    
   
    TextoLematizado = []
    for contenido in corpusUser:
        #Tokenimos el contenido
        tokens = nlp(contenido)
        content_filtered = ""
        #Recorremos cada Token
        for token in tokens:
            #Vemos que el token no sea un stop Word
            if token.is_stop == False and token.text.strip() != '':
                #Sacamos el lemma del Token
                content_filtered= content_filtered+token.lemma_+" "
        TextoLematizado.append(content_filtered.strip())
        
    ConCorpus.Content=TextoLematizado
    
    comment_words=''.join(ConCorpus.Content.tolist())
    
    wordcloud = WordCloud(width = 400, height = 400, 
                background_color ='white', 
                min_font_size = 10, max_words=max_words).generate(comment_words) 
    
    #Mostramos la imagen WordCloud                        
    plt.figure(figsize = (4, 4), facecolor = None) 
    plt.imshow(wordcloud) 
    plt.axis("off") 
    plt.tight_layout(pad = 0) 
  
    plt.show()

In [157]:
wordCloudUser(Miley_Corps)

AttributeError: 'DataFrame' object has no attribute 'Content'